<div class="form">
  <mat-form-field>
    <mat-label>Search GIFs</mat-label>
    <input matInput type="text" id='query'>
  </mat-form-field>
  <!-- <mat-form-field appearance="fill">
    <mat-label>GIF Rating</mat-label>
    <mat-select>
      <mat-option value="G">G</mat-option>
      <mat-option value="PG">PG</mat-option>
      <mat-option value="PG-13">PG-13</mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- <button style="width: 100px;" (click)="search()" mat-raised-button color="primary">Search</button> -->
</div>

<div class='display'>
  <img style="width: 100px;" *ngFor="let gif of gifs" [src]="gif.url">
</div>